$transitionTime: 0.3s;
$transitionModalTime: 0.2s;

//position
$footerHeight: 68px;
$weathereInnerHeight: calc(100% - #{$footerHeight});
$weathereheaderInfo: 230px;
$showWeekHeight: calc(100% - #{$weathereheaderInfo});

$townsTopPosition: 150px;

$townsHeight: calc(100% - #{$footerHeight} - #{$townsTopPosition});
$townsListHeight: calc(100% - 37px - 10px);

// text
$textColorHeader: #ffffff;
$textColor: #595656;
$textColorMainAlpha: rgba(
    $color: $textColor,
    $alpha: 0.2,
);

// modal
$modalBgColor: #313e5c;
$modalColorAlpha: rgba(
    $color: $modalBgColor,
    $alpha: 0.9,
);
$modalBgButtonColor: #17284a;
$modalBgButtonColorHover: #475471;
$modalShadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
$modalColor: #fafafa;

// header color
$headerBgColor-bg: #fbb274;
$headerBgColor-up: #f8a057;
$headerBgColor-down1: #a13c22;
$headerBgColor-down2: #c94a27;
$headerBgColor-down3: #e5612c;
$headerBgColor-down4: #ee813e;

// temperature
$bgColorTemperature: #ffffff;

// footer
$bgColorFooter: #e7e7e8;
$bgBtnFooterActiveColor: #537dbf;

// $phoneSize: 400px;
// $phabletSize: 560px;
// $phoneWideSize: 480px;
// $tabletSmallSize: 640px;
// $tabletSize: 768px;
// $tabletWideSize: 1024px;
