.error {
    height: 100%;
    width: 100%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 30% 15px;
    position: absolute;
    z-index: 10;
    display: flex;
    transform: translateY(-100%);

    &-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 450px;
        padding: 25px 15px;
        background-color: $modalColorAlpha;
        box-shadow: $modalShadow;
        border-radius: 15px;

        transform: scale(0);
        transition: $transitionModalTime;

        &__text {
            color: $textColorHeader;
            text-align: center;
        }
        &__btn {
            text-transform: capitalize;
            margin: 25px auto 0;
            width: 100%;
            max-width: 150px;
            padding: 10px;
            border-radius: 10px;
            transition: $transitionTime;
            color: $textColorHeader;
            background-color: $modalBgButtonColor;
            border: none;

            &:hover,
            &:active {
                background-color: $modalBgButtonColorHover;
            }
        }
    }

    &--show {
        transform: translateY(0);
    }

    &--show &-modal {
        transform: scale(1);
    }
}
