.towns {
    position: absolute;
    z-index: 5;
    width: 100%;
    background-color: $modalColorAlpha;
    border-radius: 40px 40px 0 0;
    padding: 25px 0 10px;

    bottom: 0;
    height: 0;

    transition: $transitionModalTime;

    &-find {
        display: none;
        &__input {
            font-size: 14px;
            width: 100%;
            padding: 7px 15px;
            border-radius: 30px;
            color: $modalColor;
            background-color: transparent;
            border: 1px solid $modalBgButtonColor;
            display: block;

            &::placeholder {
                color: $modalColor;
            }
        }
        &__btn {
            display: block;
            margin-left: 5px;
            background-color: transparent;
            border: none;

            &-icon {
                transition: $transitionTime;
                width: 35px;
                height: 35px;
                fill: $modalColor;
                display: block;
            }
            &:hover &-icon,
            &:active &-icon {
                fill: $modalBgButtonColor;
            }
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 10px -10px 0;
        align-content: flex-start;

        height: $townsListHeight;
        overflow-y: scroll;

        scrollbar-width: thin;
        scrollbar-color: $bgColorFooter transparent;

        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: $bgColorFooter;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $bgColorFooter;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 4px;
        }

        &__item {
            padding: 10px;
            flex-basis: 50%;
            height: 160px;
        }
    }
    &-card {
        color: $modalColor;
        text-align: center;
        padding: 10px;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        background-color: $modalBgButtonColor;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &__delete {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 2;
            display: block;
            background-color: transparent;
            border: none;

            &-icon {
                width: 15px;
                height: 15px;
                fill: $modalColor;
            }
        }
        &__name {
            @include fontLight;
            font-size: 18px;
        }
        &__temperature {
            font-size: 20px;
            margin: 10px 0 5px;
        }
        &__text {
            @include fontSemiBold;
            font-size: 14px;
            text-transform: capitalize;
        }

        &:hover,
        &:active {
            border: 1px solid $modalBgButtonColorHover;
        }
    }

    &--show {
        bottom: $footerHeight;
        height: $townsHeight;
    }
    &--show &-find {
        display: flex;
    }
}
