footer.footer
	.weather-wrapper
		nav.footer-nav
			ul.footer-nav-list#nav-list
				li.footer-nav-list__item
					button.footer-nav-btn#today-btn
						+icon("day","footer-nav-btn__icon")
						span.footer-nav-btn__text Today 
				li.footer-nav-list__item
					button.footer-nav-btn#week-btn
						+icon("week","footer-nav-btn__icon")
						span.footer-nav-btn__text Weekly 
				li.footer-nav-list__item
					button.footer-nav-btn#locaton-btn
						+icon("placeholder","footer-nav-btn__icon")
						span.footer-nav-btn__text Location 
				li.footer-nav-list__item
					button.footer-nav-btn
						+icon("settings","footer-nav-btn__icon")
						span.footer-nav-btn__text Settings 
