.towns#towns
    .weather-wrapper
        form.towns-find#towns-find 
            input.towns-find__input(type="text" placeholder="New Town")
            button.towns-find__btn(type="submit")
                +icon("search","towns-find__btn-icon")
        ul.towns-list#towns-list
            li.towns-list__item
                .towns-card
                    button.towns-card__delete
                        +icon("close","towns-card__delete-icon")
                    p.towns-card__name townafffffaa townadad townsadasd
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete
                        +icon("close","towns-card__delete-icon")
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete
                        +icon("close","towns-card__delete-icon")
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete
                        +icon("close","towns-card__delete-icon")
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete
                        +icon("close","towns-card__delete-icon")
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete
                        +icon("close","towns-card__delete-icon")
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete
                        +icon("close","towns-card__delete-icon")
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
