.towns#towns
    .weather-wrapper
        form.towns-find(action="") 
            input.towns-find__input(type="text" placeholder="New Town")
            button.towns-find__btn
                +icon("search","towns-find__btn-icon")
            button.towns-find__btn
                +icon("home","towns-find__btn-icon")
    
        ul.towns-list
            li.towns-list__item
                .towns-card
                    button.towns-card__delete x
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete x
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete x
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete x
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
            li.towns-list__item
                .towns-card
                    button.towns-card__delete x
                    p.towns-card__name town
                    p.towns-card__temperature 11 C
                    p.towns-card__text Sun
