.update#update
	.update-spinner
		ul.update-spinner-chase
			li.update-spinner-chase-dot
			li.update-spinner-chase-dot
			li.update-spinner-chase-dot
			li.update-spinner-chase-dot
			li.update-spinner-chase-dot
			li.update-spinner-chase-dot
	p.update-text data update
