.footer {
    background-color: $bgColorFooter;
    position: relative;
    z-index: 2;
    &-nav {
        padding: 10px 0;

        &-list {
            display: flex;
            margin: 0 -10px;
            &__item {
                padding: 0 10px;
                flex-basis: 33.333%;
            }
        }
        &-btn {
            background-color: transparent;
            border: none;
            transition: $transitionTime;
            &__icon {
                width: 40px;
                height: 30px;
                fill: $textColor;
                margin: 0 auto;
                display: block;
            }
            &__text {
                display: block;
                text-align: center;
                font-size: 10px;
                @include fontSemiBold;
                margin: 5px 0 0;
                color: $textColor;
            }
            &:hover &__icon,
            &:active &__icon {
                fill: $bgBtnActiveColor;
            }
            &:hover &__text,
            &:active &__text {
                color: $bgBtnActiveColor;
            }
        }
    }
}
