extends layout/main

block variables
	-var title = 'Weather'

block content
	.weather
		.weather-update
			include ./modules/update
		.weather-error
			include ./modules/error
		.weather-inner
			include ./modules/header
			include ./modules/temperature
		include ./modules/footer

