extends layout/main

block variables
	-var title = 'Weather'

block content
	.weather
		include ./modules/update
		include ./modules/error
		include ./modules/towns
		.weather-inner
			include ./modules/header
			include ./modules/temperature
		include ./modules/footer

