extends layout/main

block variables
	-var title = 'Weather'

block content
	.weather
		.weather-inner
			header.header
				ul.header-bg
					li.header-bg-up
						include ../assets/images/spline/bg-up.svg  
					li.header-bg-down-1
						include ../assets/images/spline/bg-down-1.svg  
					li.header-bg-down-2
						include ../assets/images/spline/bg-down-2.svg  
					li.header-bg-down-3
						include ../assets/images/spline/bg-down-3.svg  
					li.header-bg-down-4
						include ../assets/images/spline/bg-down-4.svg  
				.weather-wrapper
					.header-inner#town-weather
						nav.header-nav
							.header-nav-burger
								+icon("menu","header-nav-burger-icon")
							.header-nav-search
								+icon("loupe","header-nav-search-icon")
						.header-info
							.header-info-text
								h2.header-info-text-town
								h4.header-info-text-date
								h3.header-info-text-weather
							img.header-info-img(src='./assets/images/mist.svg' alt='Weather image')
						h1.header-degrees 
							span.header-degrees__num 
							span.header-degrees__measure
			section.temperature
				.weather-wrapper 
					.temperature-info Info Detail
		footer.footer
			.weather-wrapper
				nav.footer-nav
					ul.footer-nav-list
						li.footer-nav-list__item
							a.footer-nav-ref
								+icon("day","footer-nav-ref__icon")
								span.footer-nav-ref__text Today 
						li.footer-nav-list__item
							a.footer-nav-ref
								+icon("week","footer-nav-ref__icon")
								span.footer-nav-ref__text Weekly 
						li.footer-nav-list__item
							a.footer-nav-ref
								+icon("settings","footer-nav-ref__icon")
								span.footer-nav-ref__text Settings 

